<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h3>Nouveau mot de passe</h3>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm" class="login-form">
      <p>
        <mat-form-field class="example-full-width">
          <input required matInput type="password" placeholder="Mot de passe" [(ngModel)]="hash_password" name="PASSWORD" id="PASSWORD">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="example-full-width">
          <input required matInput type="password" placeholder="Confirmation" [(ngModel)]="hash_confirmation" name="PASSWORD_CONFIRMATION" id="PASSWORD_CONFIRMATION">
        </mat-form-field>
      </p>
      <button type="submit" mat-raised-button [disabled]="!loginForm.form.valid" class="submit-btn">Changer mon mot de passe</button>
      <a [routerLink]="['/login']" mat-raised-button class="login-btn">Login</a>
    </form>
  </div>
</div>
