
<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <h3>Gestion des sites</h3>
    <div class="websites-container">
      <a [routerLink]="['/website/add']" mat-raised-button>Ajouter</a>
      <mat-list>
        <mat-list-item *ngFor="let row of data">
          <h3 mat-line> {{row.NAME}} </h3>
          <p mat-line>
            <span> {{row.URL}} </span>
            <span class="demo-2"> -- <span *ngIf="row.IS_ACTIVE">Activé</span><span *ngIf="!row.IS_ACTIVE">Désactivé</span> </span>
          </p>
          <button mat-icon-button (click)="displayWebsite(row);">
            <mat-icon>info</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteWebsite(row)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
