
<br>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div *ngIf="error">Code error {{error?.code}} : {{error?.path}}</div>
    <br>
    <h3>Connection</h3>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm" class="login-form">
      <p>
        <mat-form-field class="example-full-width">
          <input required matInput type="email" placeholder="Email" [(ngModel)]="login.EMAIL_ADDRESS" name="email" id="email">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="example-full-width">
          <input required matInput type="password" placeholder="Mot de passe" [(ngModel)]="login.HASH_PASSWORD" name="password" id="password">
        </mat-form-field>
      </p>
      <a [routerLink]="['/signup']" mat-raised-button class="signup-btn rigth">Créer un compte</a>
      <a [routerLink]="['/forgot-password']" style="float:right">Mot de passe oublié</a>
      <br><br>
      <button type="submit" mat-raised-button [disabled]="!loginForm.form.valid" class="submit-btn">Se connecter</button>
    </form>
  </div>
</div>
