<div fullscreen>
  <md-toolbar md-scroll-shrink color="primary">
    <button md-button (click)="sidenav.toggle()"><md-icon>view_quilt</md-icon></button>
    <a class="home-btn"[routerLink]="['/dashboard']">AntMine DashBoard</a>
    <span class="example-spacer"></span>
    <button md-icon-button [mdMenuTriggerFor]="menu">
      <md-icon>more_vert</md-icon>
    </button>
    <md-menu #menu="mdMenu">
      <a href="logout" md-menu-item>
        <md-icon>power_settings_new</md-icon>
        <span>Logout</span>
      </a>
    </md-menu>
  </md-toolbar>

  <md-sidenav-container class="sidenav-container">
    <md-sidenav #sidenav class="md-sidenav-left" mode="side" opened="false">

      <md-toolbar color="warm">
        <h3 class="md-toolbar-tools">Gestion du compte</h3>
      </md-toolbar>

      <md-nav-list>
        <a [routerLink]="['/profile']">
          <md-list-item>
            <md-icon md-list-icon>account_circle</md-icon>
            <h4 md-line>Profil et préferences</h4>
          </md-list-item>
        </a>
        <a [routerLink]="['/website']">
          <md-list-item>
            <md-icon md-list-icon>settings</md-icon>
            <h4 md-line >Gestion site web</h4>
          </md-list-item>
        </a>
        <a>
          <md-list-item>
            <md-icon md-list-icon>account_balance_wallet</md-icon>
            <h4 md-line>Solde et portefeuilles</h4>
          </md-list-item>
        </a>
        <a href="https://epitechfr-my.sharepoint.com/personal/aljosha_armitano_epitech_eu/_layouts/15/guestaccess.aspx?docid=08e557547c7154ba9a46337e59851b9f8&authkey=AVejU1hyESlLXX1jZ0JLiRU">
          <md-list-item>
            <md-icon md-list-icon>info_outline</md-icon>
            <h4 md-line>Manuel utilisateur</h4>
          </md-list-item>
        </a>
      </md-nav-list>
    </md-sidenav>

    <div class="example-sidenav-content">
      <div class="loading-overlay" *ngIf="loading">
        <md-spinner></md-spinner>
      </div>
      <router-outlet></router-outlet>
    </div>
  </md-sidenav-container>

</div>
