<div fullscreen>
  <mat-toolbar mat-scroll-shrink color="primary">
    <button mat-button (click)="sidenav.toggle()"><mat-icon>view_quilt</mat-icon></button>
    <a class="home-btn"[routerLink]="['/dashboard']">AntMine DashBoard</a>
    <span class="example-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a [routerLink]="['/logout']">
        <button mat-menu-item>
          <mat-icon>power_settings_new</mat-icon>
          <span>Déconnexion</span>
        </button>
      </a>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav class="mat-sidenav-left" mode="side" opened="false">

      <mat-toolbar color="warm">
        <h3 class="mat-toolbar-tools">Gestion du compte</h3>
      </mat-toolbar>

      <mat-list>
        <h3 mat-subheader>Mon compte</h3>

        <a class="list-item-link" [routerLink]="['/dashboard']">
          <mat-list-item>
            <mat-icon mat-list-icon>equalizer</mat-icon>
            <h4 mat-line>Statistiques</h4>
          </mat-list-item>
        </a>

        <a class="list-item-link" [routerLink]="['/profile']">
          <mat-list-item>
            <mat-icon mat-list-icon>person</mat-icon>
            <h4 mat-line>Profil</h4>
          </mat-list-item>
        </a>

        <a class="list-item-link" [routerLink]="['/website']">
          <mat-list-item>
            <mat-icon mat-list-icon>language</mat-icon>
            <h4 mat-line>Mes sites web</h4>
          </mat-list-item>
        </a>

        <a class="list-item-link" [routerLink]="['/wallet']">
          <mat-list-item>
            <mat-icon mat-list-icon>credit_card</mat-icon>
            <h4 mat-line>Solde et portefeuilles</h4>
          </mat-list-item>
        </a>

        <mat-divider></mat-divider>

        <h3 mat-subheader>Autre</h3>

        <a class="list-item-link" href="https://epitechfr-my.sharepoint.com/personal/aljosha_armitano_epitech_eu/Documents/Antmine/Documentation%20Epitech/DA/DA3/Manuel%20D%27utilisation.pdf" target="_blank">
        <mat-list-item>
          <mat-icon mat-list-icon>import_contacts</mat-icon>
          <h4 mat-line>Manuel utilisateur</h4>
        </mat-list-item>
      </a>
      </mat-list>
    </mat-sidenav>
    {{ loading }}
    <div class="example-sidenav-content">
      <span id="loader" *ngIf="objLoaderStatus">
        <mat-spinner></mat-spinner>
      </span>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-container>

</div>
