<div fullscreen>
  <md-toolbar md-scroll-shrink color="primary">
    <button md-button (click)="sidenav.toggle()"><md-icon>view_quilt</md-icon></button>
    <a class="home-btn"[routerLink]="['/dashboard']">AntMine DashBoard</a>
    <span class="example-spacer"></span>
    <button md-icon-button [mdMenuTriggerFor]="menu">
      <md-icon>more_vert</md-icon>
    </button>
    <md-menu #menu="mdMenu">
      <button md-menu-item>
        <md-icon>dialpad</md-icon>
        <span>Redial</span>
      </button>
      <button md-menu-item disabled>
        <md-icon>voicemail</md-icon>
        <span>Check voicemail</span>
      </button>
      <button md-menu-item>
        <md-icon>notifications_off</md-icon>
        <span>Disable alerts</span>
      </button>
    </md-menu>
  </md-toolbar>

  <md-sidenav-container class="sidenav-container">
    <md-sidenav #sidenav class="md-sidenav-left" mode="side" opened="true">

      <md-toolbar color="warm">
        <h3 class="md-toolbar-tools">Gestion du compte</h3>
      </md-toolbar>

      <md-nav-list>
        <a>
          <md-list-item>
            <md-icon md-list-icon>navigate_next</md-icon>
            <h4 md-line>Solde et portefeuilles</h4>
          </md-list-item>
        </a>
        <a>
          <md-list-item>
            <md-icon md-list-icon>navigate_next</md-icon>
            <h4 md-line>Gestion site web</h4>
          </md-list-item>
        </a>
        <a>
          <md-list-item>
            <md-icon md-list-icon>navigate_next</md-icon>
            <h4 md-line>Profil et préferences</h4>
          </md-list-item>
        </a>
      </md-nav-list>

      <md-toolbar color="warm">
        <h3 class="md-toolbar-tools">Mes sites</h3>
      </md-toolbar>

      <md-nav-list *ngFor="let row of data" no-lines>
        <a [routerLink]="['/site', row.owner.login, row.name]">
          <md-list-item>
            <md-icon md-list-icon>navigate_next</md-icon>
            <h4 md-line>{{ row.name }}</h4>
            <p md-line>{{ row.description }}</p>
          </md-list-item>
        </a>
      </md-nav-list>

    </md-sidenav>

    <div class="example-sidenav-content">
      <div class="loading-overlay" *ngIf="loading">
        <md-spinner></md-spinner>
      </div>
      <router-outlet></router-outlet>
    </div>
  </md-sidenav-container>

</div>
