<div class="website-container">
    <h3>Add a website</h3>
    <form id="website-form" (ngSubmit)="newWebsite()">
        <input required class="form-field" type="text" name="web-name" placeholder="Name">
        <input required class="form-field" type="text" name="web-url" placeholder="Url">
        <input required class="form-field" type="text" name="web-currency" placeholder="Crypto currency">
        <input required class="form-field" type="text" name="web-enable" placeholder="Enable ?">
        <button type="submit">Create</button>
    </form>
</div>