
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="website-container">
      <h3>Ajouter un site</h3>
      <form  (ngSubmit)="onSubmit()" #addSiteForm="ngForm" class="addSiteForm">
        <p>
          <md-input-container>
            <input required mdInput placeholder="Nom" [(ngModel)]="site.NAME" name="name" id="name">
          </md-input-container>
        </p>
        <p>
          <md-input-container>
            <input required mdInput placeholder="Url" [(ngModel)]="site.URL" name="url" id="url">
          </md-input-container>
        </p>
        <hr>
        <h4>Crypto Monnaies :</h4>
        <p *ngFor="let currency of site.CRYPTO_CURRENCY_WEBSITEs">
            <b>{{ currency.ID_CRYPTO }} :</b> <md-slide-toggle ngDefaultControl [(ngModel)]="currency.IS_ENABLE" name="enable" [checked]="currency.IS_ENABLE"></md-slide-toggle>
        </p>
        <!-- <p>
          <md-select required placeholder="Currency" [(ngModel)]="site.CryptoCurrency" name="currency">
            <md-option *ngFor="let currency of currencies" [value]="currency.id"> {{ currency.name }} </md-option>
          </md-select>
        </p> -->
        <p>
          <button [routerLink]="['/website']" md-raised-button>Retour</button>
          <button type="submit" md-raised-button [disabled]="!addSiteForm.form.valid" class="submit-btn">Enregistrer</button>
        </p>
      </form>
    </div>
  </div>
</div>
