  <div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form (ngSubmit)="onSubmit()" #walletForm="ngForm" class="wallet-form">
          <p>
            <mat-input-container class="example-full-width">
              <input required matInput placeholder="Hash" [(ngModel)]="wallet.HASH" name="wallet" id="wallet">
            </mat-input-container>
          </p>
          <button type="submit" mat-raised-button [disabled]="!walletForm.form.valid" class="submit-btn">Transert</button>
        </form>
    </div>
  </div>
