  <div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form (ngSubmit)="onSubmit()" #walletForm="ngForm" class="wallet-form">
          <h3>Solde Antmine</h3>
          <label style="margin-right: 5%;">Bitcoin</label>
            <label mat-line> {{bitcoinAmount}} </label>
          <br>
          <h3>Transfert</h3>
          <mat-input-container class="example-full-width">
            <input required matInput placeholder="Adresse portefeuille" [(ngModel)]="client.ADDR" name="address" id="address">
          </mat-input-container>
          <mat-input-container class="example-full-width">
            <input required matInput placeholder="Montant" [(ngModel)]="client.BALANCE" name="balance" id="balance">
          </mat-input-container>
          <button type="submit" mat-raised-button [disabled]="!walletForm.form.valid" class="submit-btn">Transert</button>
        </form>
    </div>
  </div>
