<div>
    <h1>Profil et préférences</h1>
    <div class="container-group">
        <h2>Informations profil :</h2>
        <button id="edit-button" (click)="triggerEdit()">edit</button>
        <div id="info-container">
            <div class="form-line">
                <input disabled type="text" class="form-field" placeholder="Name" value={{clientInfo?.NAME}}>
            </div>
            <div class="form-line">
                <input disabled type="text" class="form-field" placeholder="Lastname" value={{clientInfo?.LASTNAME}}>
            </div>
            <div class="form-line">
                <input disabled type="date" class="form-field" placeholder="Birthday" value={{clientInfo?.DATE_BIRTHDAY}}>
            </div>
            <div class="form-line">
                <input disabled type="email" class="form-field" placeholder="E-mail" value={{clientInfo?.EMAIL_ADDRESS}}>
            </div>
            <h5>Address :</h5>
            <div class="form-line">
                <input disabled type="text" class="form-field" placeholder="Street" value={{clientInfo?.ADDRESS?.STREET}}>
            </div>
            <div class="form-line">
                <input disabled type="text" class="form-field" placeholder="City" value={{clientInfo?.ADDRESS?.CITY}}>
            </div>
            <div class="form-line">
                <input disabled type="text" class="form-field" placeholder="ZIP" value={{clientInfo?.ADDRESS?.ZIP_CODE}}>
            </div>
            <div class="form-line">
                <input disabled type="text" class="form-field" placeholder="Country" value={{clientInfo?.ADDRESS?.COUNTRY}}>
            </div>
        </div>
        <div id="info-form" class="hidden">
            <form id="edit-form"(ngSubmit)="onEditInfo()">
                <div class="form-line">
                    <input type="text" class="form-field" name="name" value={{clientInfo?.NAME}} required>
                </div>
                <div class="form-line">
                    <input type="text" class="form-field" name="lastname" value={{clientInfo?.LASTNAME}} required>
                </div>
                <div class="form-line">
                    <input type="date" class="form-field" name="birthday" value={{clientInfo?.DATE_BIRTHDAY}} required>
                </div>
                <div class="form-line">
                    <input type="email" class="form-field" name="email" value={{clientInfo?.EMAIL_ADDRESS}} required>
                </div>
                <div class="form-line">
                    <input type="password" class="form-field" name="pwd" value={{clientInfo?.HASH_PASSWORD}} required>
                </div>
                <h5>Address :</h5>
                <div class="form-line">
                    <input type="text" class="form-field" name="street" value={{clientInfo?.ADDRESS?.STREET}} required>
                </div>
                <div class="form-line">
                    <input type="text" class="form-field" name="city" value={{clientInfo?.ADDRESS?.CITY}} required>
                </div>
                <div class="form-line">
                    <input type="text" class="form-field" name="zip-code" value={{clientInfo?.ADDRESS?.ZIP_CODE}} required>
                </div>
                <div class="form-line">
                    <input type="text" class="form-field" name="country" value={{clientInfo?.ADDRESS?.COUNTRY}} required>
                </div>
                <button id="submit" type="sumbit">submit</button>
            </form>
        </div>
    </div>
    <div class="container-group">
        <h2>Préférences :</h2>
        <h3>Cryptomonnaie disponibles</h3>
        <ul id="crypto-checkboxes-group">
            <li class="crypto-checkbox">
                <input type="checkbox" class="checkbox">Bitcoin
            </li>
            <li class="crypto-checkbox">
                <input type="checkbox" class="checkbox">Etherium
            </li>
        </ul>
    </div>
</div>