<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>Profil et préférences</h1>
    <form (ngSubmit)="onSubmit()" #signupForm="ngForm" class="signup-form">
      <p>
        <mat-input-container class="example-full-width">
          <input required matInput placeholder="Prénom" [(ngModel)]="client.NAME" name="NAME" id="NAME">
        </mat-input-container>
      </p>
      <p>
        <mat-input-container class="example-full-width">
          <input required matInput placeholder="Nom" [(ngModel)]="client.LASTNAME" name="LASTNAME" id="LASTNAME">
        </mat-input-container>
      </p>
      <p>
        <mat-input-container class="example-full-width">
          <input required matInput type="password" placeholder="Mot de passe" [(ngModel)]="client.CHECK_PASSWORD" name="password" id="password">
        </mat-input-container>
      </p>
      <p>
        <mat-input-container class="example-full-width">
          <input matInput type="password" placeholder="Changer de mot de passe" [(ngModel)]="client.HASH_PASSWORD" name="password" id="password">
        </mat-input-container>
      </p>
      <p>
        <mat-input-container class="example-full-width">
          <input required matInput type="date" placeholder="Date de naissance" [ngModel]="client.DATE_BIRTHDAY | date:'yyyy-MM-dd'" name="DATE_BIRTHDAY" id="DATE_BIRTHDAY">
        </mat-input-container>
      </p>
      <p>
        <mat-input-container class="example-full-width">
          <textarea required matInput placeholder="Adresse" [(ngModel)]="client.ADDRESS.STREET" name="street" id="street"></textarea>
        </mat-input-container>
      </p>

      <table class="example-full-width" cellspacing="0"><tr>
        <td><mat-input-container class="example-full-width">
          <input required matInput placeholder="Ville" [(ngModel)]="client.ADDRESS.CITY" name="city" id="city">
        </mat-input-container></td>
        <td><mat-input-container class="example-full-width">
          <input required matInput placeholder="Pays" [(ngModel)]="client.ADDRESS.COUNTRY" name="country" id="country">
        </mat-input-container></td>
        <td><mat-input-container class="example-full-width">
          <input required matInput #postalCode maxlength="5" placeholder="Code postal" [(ngModel)]="client.ADDRESS.ZIP_CODE" name="zip_code" id="zip_code">
          <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
        </mat-input-container></td>
      </tr></table>
      <button type="submit" mat-raised-button [disabled]="!signupForm.form.valid" class="submit-btn">Enregistrer</button>
    </form>
    <br><br><br>
    <p>
      <button mat-raised-button (click)="deleteAccount()">Supprimer compte</button>
    </p>
  </div>

</div>
