.example-scrolling-content {
  overflow: auto;
}

.example-fab {
  position: absolute;
  right: 20px;
  bottom: 10px;
}

.example-icon {
  padding: 0 14px;
}

.dashboard-panel {
  padding:0;
  margin: 10px;
}

.no-stats-available {
  text-align:center;
  margin-top: 200px;
  height: 400px;
  font-family: serif;
  font-size: 20px;
}
