<div class="row">
  <div class="col-lg-12">
    <div class="dashboard-panel panel panel-default">
      <div class="panel-heading">Revenus</div>
      <div class="panel-body">
        <app-dashboard-income></app-dashboard-income>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-mat-6">
    <div class="dashboard-panel panel panel-default">
      <div class="panel-heading">Naviguateurs</div>
      <div class="panel-body">
        <app-dashboard-browsers></app-dashboard-browsers>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-mat-6">
    <div class="dashboard-panel panel panel-default">
      <div class="panel-heading">Trafic</div>
      <div class="panel-body">
        <app-dashboard-browsers></app-dashboard-browsers>
      </div>
    </div>
  </div>
</div>
